@font-face {
    font-family: "conventry-font-style";
    src: url(../fonts/SourceHanSansCN-Regular.ttf);
}


#header {
    display: absolute;
    background-image: url(../images/头图背景.png);
    height: 250px;
    width: 960px;
    margin: 0 auto;
    top: 0;
}

#logo {
    position: relative;
    left: 180px;
    top: 24px;
}

.wrapper-grid {
    margin: 47px;
    display: grid;
    grid-template-columns: repeat(2, 295px);
    justify-content: center;
    grid-gap: 25px;
}

.left-side {
    font-family: conventry-font-style, sans-serif;
    font-style: normal;
    font-size: 7px;
}

.left-side article {
    margin-bottom: 50px;
}

.logo-title img span {
    /* float: left;
    text-align: center;
    clear: none; */
    vertical-align: middle;
    display: inline-block;
    /* font-size: 12px; */
    /* float: none; */
}

/* .logo-title img {
    vertical-align: top;
    margin-right: 5px;
}

.logo-title {
    line-height: 1px;
} */

.article-title span {
    font-size: 12px;
}

.logo-title span {
    font-size: 12px;
}

.conventry-rank {
    background-image: url(../images/获奖排名底图@2x.png);
    height: 575px;
}

#second-lt {
    position: relative;
    padding-left: 16px;
    padding-top: 43px;

}

.rank-info {
    padding-left: 16px;
    /* position: relative; */
    margin-top: 27px;

    list-style: none;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.rank-info li {
    width: 265px;
    height: 28px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.6;
    color: white;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    line-height: 28px;
}

.rank-logo {
    list-style: none;
    margin-top: 24px;
    /* ul 占用 5px 所以 29-5=24px*/
    margin-bottom: 0px;
    padding-left: 26px;
    /* padding: 26px; */
}

.rank-logo li {
    margin-bottom: 22px;
}

.different-title {
    list-style: none;
    margin: 0;
    padding: 0;
    /* float: left; */
    /* display: inline; */
}

.different-title li {
    display: inline-block;
    /* float: left; */

    height: 25px;
    width: 86px;

    margin-right: 11px;
    background-color: #0070BA;

    text-align: center;
    line-height: 25px;

}

.side-toolbar ul {
    list-style: none;
    float: right;
}

.side-toolbar li {
    border-block-color: black;
}

footer {
    text-align: center;
    width: 960px;
    height: 60px;
    background: rgba(236, 236, 236, 1);
    /* line-height: 60px; */
    margin: 0 auto;
}

footer p {
    font-family: conventry-font-style, sans-serif;
    font-style: normal;
    font-size: 8px;

}