/* .body{display:flex;} */

#header {
    background-image: url(../images/头图背景.png);
    height: 250px;
    width: 960px;
    margin: 0 auto;
}

#logo {
    position: relative;
    left: 180px;
    top: 24px;
}

.wrapper-grid {
    margin: 47px;
    display: grid;
    grid-template-columns:repeat(2, 295px);
    justify-content: center;
    grid-gap: 25px;
}
.left-side {
    font-size: 7px;
    background-color: green;
}
