@font-face {
    font-family: "conventry-font-style";
    src: url(../fonts/SourceHanSansCN-Regular.ttf);
}


#header {
    display: absolute;
    background-image: url(../images/头图背景.png);
    height: 250px;
    width: 960px;
    margin: 0 auto;
    top: 0;
}

#logo {
    position: relative;
    left: 180px;
    top: 24px;
}

.wrapper-grid {
    margin: 47px;
    display: grid;
    grid-template-columns: repeat(2, 295px);
    justify-content: center;
    grid-gap: 25px;
}

.left-side {
    font-family: conventry-font-style, sans-serif;
    font-style: normal;
    font-size: 7px;
}

.left-side article {
    margin-bottom: 50px;
}

.logo-title img span {
    /* float: left;
    text-align: center;
    clear: none; */
    vertical-align: middle;
    display: inline-block;
    /* font-size: 12px; */
    /* float: none; */
}

/* .logo-title img {
    vertical-align: top;
    margin-right: 5px;
}

.logo-title {
    line-height: 1px;
} */

.article-title span {
    font-size: 12px;
}

.logo-title span {
    font-size: 12px;
}

.conventry-rank {
    background-image: url(../images/获奖排名底图@2x.png);
    height: 575px;
}

.rank-info li {
    width: 265px;
    height: 28px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.6;
    color: white;
    margin-bottom: 5px;
    text-align: center;
    
}